{% extends 'base/web_base.html' %}
{% block container %}
{% load static %}
{% include 'includes/header.html' %}

<section class="bg-[#f3ddc9]">
    <section class="wrapper pt-[30px] flex ">
        <div class="flex justify-center w-[33%]">
            <div class="flex items-center ">
                <form  method="post" class="mb-10 md:mb-0">
                    {% csrf_token %}
                    <div class="py-2 px-2 bg-[#fff] rounded-xl flex justify-between">
                        <input type="text" name="name" valu="{{task.name}}" placeholder="Enter Name" class="outline-none px-20 py-3 rounded-2xl bg-[#f0e0c6]">
                        <ul class="flex">
                            <button type="submit" class="mb-1 px-5 py-2 ml-3 mr-11 bg-blue-500 hover:bg-blue-600 text-white font-semibold rounded-md">
                                Add
                            </button>            
                        </ul>
                    </div>
                </form>
            </div>
        </div>
        
        <section class="wrapper  w-[33%]">
            <h1 class="text-[50px] font-[600] text-[#7e7c7c]  text-center">To Do</h1>
            <div class="flex justify-center">
                <div class="">
                    {% for todo in todos %}
                    <div class="flex items-center w-full justify-between">
                        <h1 class="text-[43px] font-[500] text-white mr-3">{{ todo.name }}</h1>
                        <div class="flex">
                            <a href="{% url 'web:edit_todo' id=todo.id %}">
                                <button type="button" class="mb-1 px-5 py-2 mr-4 bg-blue-500 hover:bg-blue-600 text-white font-semibold rounded-md">
                                    Edit
                                </button>
                            </a>
                            <a href="{% url 'web:delete_todo' id=todo.id %}">
                                <button type="button" class="mb-1 px-4 py-2 mr-4 bg-red-500 hover:bg-red-600 text-white font-semibold rounded-md">
                                    Delete
                                </button>
                            </a>
                            <a href="{% url 'web:todo_done' id=todo.id %}">
                                <button type="button" class="mb-1 px-4 py-2 bg-green-500 hover:bg-green-600 text-white font-semibold rounded-md">
                                    Done 
                                </button>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="w-[33%] ">
            <h1 class=" text-center items-center text-[50px] font-[600] text-[#7e7c7c] ">TO DO <span class=" text-[#edbb8d]">LIST</span></h1>
            <div class="">
                {% for todo in dones %}
                <div class="text-center">
                    <p class="text-[43px] font-[500] text-[#000] mr-3">{{ todo.name }}</p>
                </div>
                {% endfor %}
            </div>
        </section>
    </section>
</section>

{% endblock %}
