{% extends 'base/web_base.html' %}

{% load static %}

{% block container %}


    <section class="grid grid-cols-1 md:grid-cols-2 h-screen">
        <div class=" col-span-1 hidden md:flex">
            <img src="{% static 'images/register1.png' %}" alt="image" class="w-full">
        </div>
        <div class=" col-span-1 h-screen flex justify-center items-center">
            <div class="text-center">
                <h1 class="text-[32px] font-semibold mb-5">SIGN UP NOW</h1>
                <p class="w-[90%] md:w-[70%] m-auto mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam omnis sint cum rem laborum in. </p>
                <form action="" method="post" class="w-[90%] md:w-[70%] m-auto">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Enter username" class=" w-full outline-none boredr rounded-2xl py-3 px-5 mb-5">
                    <input type="text" name="first_name" placeholder="Enter first name" class=" w-full outline-none boredr rounded-2xl py-3 px-5 mb-5">
                    <input type="text" name="last_name" placeholder="Enter last name" class=" w-full outline-none boredr rounded-2xl py-3 px-5 mb-5">
                    <input type="password" name="password" placeholder="Enter your password" class=" w-full outline-none boredr rounded-2xl py-3 px-5">
                    <button type="submit" class="py-3 px-5 bg-red-500 text-white text-[14px] font-semibold rounded-xl">Sign Up</button>
                </form>
                {% if error %}
                    <p class="mt-5 text-[14px] text-[red]">{{message}}</p>
                {% endif %}
                <p class="text-[14px] mt-5">already have an Account <a href="{% url 'web:login' %}" class=" text-red-500">Login</a></p>
            </div>
        </div>
    </section>

{% endblock %}